
# Parallel/serial compilation
ifneq ($(PARALLEL),)
  CXX=mpicxx
  CXXFLAGS=-DTB_MPI
else
  CXX=g++
endif

# Switches for debug mode
ifneq ($(DEBUG),)
  CXXFLAGS:=$(CXXFLAGS) -DLSD_DEB -DPCFS_MDBG -DDEBUG -O0 -pg -g -Wall
else
  # optimization flags
  CXXFLAGS:=$(CXXFLAGS) -DTB_FFTAC -O3 -ftracer -floop-optimize -funroll-loops -mtune=native -mmmx -msse2 -mfpmath=sse -g
endif

MAKEDEPEND=g++ -M $(CXXFLAGS) 

# Linker flags

DREGEX=-DNO__USEREGEX
LREGEX=       #-lboost_regex
LDFLAGS=$(LDFLAGS) $(LREGEX) -lfftw3 -llapack $(LREGEX)
